*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 85px;
}
.leftmenu{
    display: flex;
    align-items: center;
    gap: 50px;
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color:gray;
}
.rightmenu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.incon-avatar{
    border: 2px;
    border-radius: 400px;
    overflow: hidden;
    display: flex;
    justify-self: space-evenly;
}
.incon-avatar img{
    width: 36px;
}
.cart img{
    width: 36px;
}
.linha{
    height: 1px;
    background-color: #edc967;
    width: 90%;
    align-self: center;
}

.pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 85px);
    gap: 90px;
}
.caixaesquerda{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.items{
    align-self: flex-end;
}
.imagem-selecionada{
    max-width: 500px;
}
.imagem-selecionada img{
    width: 100%;
    border-radius: 10px;
}
.imagens{
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    gap:10px;
}
.imagem img{
    width: 100%;
    border-radius: 10px;
}
.caixadireita{
    width: 100%;
}
.borda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 2px rgb(0, 0, 0);
}
.conteudo{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.opções{
    display: flex;
    gap: 20px;
}
.quantidade img{
    width: 20px;
}
.quantidade{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgb(209, 209, 209);
    padding: 10px 50px;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 2px 2px 1px 2px rgb(0, 0, 0);
}
.quantidade span{
    font-weight: 700;
    font-size: 12px;
}
.menos, .mais{
    cursor: pointer;
}
.botão img{
    width: 14px;
}
.botão{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #edc967;
    padding: 5px 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 2px 2px 1px 2px rgb(0, 0, 0);
}